body {
    font-family: Karla;
    margin: auto;
    margin-top: 10%;
    width: 60%;
    padding: 10px;
    box-shadow:hsl(0, 0%, 0%);
    filter: drop-shadow(15px 20px 30px 	#00000050);
}

.wrapper {
    display:grid;
    grid-template-columns:100%;
    padding-left: 4%;
    background:white;

}
.wrapper > div {
    background:lightgray;
    padding:1em;
}
.OLK {
    color: #239593;
    font-weight: 700;
}
.OIU {
    color:#C0DF34;
    margin:0px;
    padding:0px;
    line-height: -2px;
}
.PLO {
    color:#98A6BD;
    line-height: normal;
}


.flapper {
    display:grid;
    grid-template-columns: repeat(2, 1fr)
}
.flapper > div {
    background: #34abab;
    padding: 1em;   
}
.flapper> div:nth-child(odd){
    background-color:#239593;
}
.EWQ {
    display: inline;
}

.BGH {
    color:#E5EFF5;
    padding-left: 22%;

}
.FGH {
    color:#E5EFF5; 
}

.UYT {
    background-color: #C0DF34; /* Green */
    border: #C0DF34;
    color: white;
    padding: 15px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;
    box-shadow:#C0DF34;
    filter: drop-shadow(5px 2px 2px#0000001e);
    cursor: pointer;
}
.mapper {
    color: #E5EFF5;
     
}
.RER {
    padding-left: 12%;
}
.GFD {
    list-style: none;
    line-height: 150%;
}

.DES {
    font-family: Karla;
    margin: auto;
    margin-top: 1%;
    width: 60%;
    padding: 10px;

}
.rrr {
    text-align: center;
}
.TTT {
    font-size: 32px;
}
.FFG {
    font-size: 16px;
}